/* Responsavel pelo design basico de TODAS as paginas*/

body{
   /* background: radial-gradient(rgb(255, 255, 255),rgb(252, 231, 231));*/
    background-color: rgb(241, 241, 241);
}


.rodape{
    background-color: rgba(3, 55, 133, 0);
    height: 120px;
    top: 200px;
    
}

.rodape p{
    color: black;
    position: absolute;
    bottom: 0px;
}